doc/tags
*.lock
.vim-flavor
__pycache__/
*.py[cod]
*.bbl
*.log
*.pdf
*.out
*.snm
*.toc
*.nav
*.aux
*.eps
*.ps
*.ipynb
*.o
*.blg
lolox*
*~
*~~
.envrc
.vscode/**
build*
**/my_scripts/*
nul
*.iml
*.swp
*.npy
*.png
*.jpg
*.xcf
*.gz
*.bz2
export
tags
