snippet cd
{{code}}${1:${VISUAL}}{{/code}}${0}
endsnippet

snippet fr
{{formula}}${1:${VISUAL}}{{/formula}}${0}
endsnippet

snippet column
{{container styleLayout="columns"}}
(((
${1:${VISUAL}}
)))
(((
)))
{{/container}}${0}
endsnippet
